@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__input-label {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    color: $primary-color-black;
    @include font(0.625rem, 1.25rem, 700);
  }

  &__input {
    border-radius: 0.25rem;
    min-height: 2.25rem;
    padding: 0.75rem;
    border-style: none;
    border: 0.0625rem solid $primary-color-black;
    color: $primary-color-black;
    font-family: Nunito Sans;
    @include font(0.875rem, 1.25rem, 400);

    &--large {
      height: 7.8125rem;
      resize: none;
    }

    &:focus {
      outline: none;
      border: 0.0625rem solid $primary-color-black;
    }

    &--error {
      outline: none;
      border: 0.0625rem solid #d22d2d;
    }
  }

  ::placeholder {
    color: $primary-color-black;
  }
}
