@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Outfit";
  width: 100%;

  @include desktop {
    margin-top: 3.5rem;
  }

  &__input-label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: $primary-color-black;
    @include font(0.75rem, 0.9375rem, 500);

    @include tablet {
      padding-bottom: 0.75rem;
      @include font(1.25rem, 1.625rem, 500);
    }
  }

  &__input,
  &__comment {
    border-radius: 0.5rem;
    min-height: 1.875rem;
    padding: 0.5rem;
    border-style: none;
    border: 0.094rem solid $secondary-color-sea-green;
    color: $primary-color-black;
    font-family: "Outfit";
    @include font(0.75rem, 0.9375rem, 500);

    @include tablet {
      border-radius: 0.75rem;
      padding: 0.625rem;
      border: 0.125rem solid $secondary-color-sea-green;
      @include font(1.25rem, 1.625rem, 500);
    }

    &--large {
      height: 6.25rem;
      resize: none;
    }

    &--error {
      outline: none;
      border: 0.094rem solid #b10606;

      @include tablet {
        border: 0.125rem solid #b10606;
      }
    }

    &:focus {
      outline: none;
      border: 0.094rem solid $primary-color-forest-green;

      @include tablet {
        border: 0.125rem solid $primary-color-forest-green;
      }
    }
  }

  &__submit {
    margin: 1rem 0;
    padding: 0.375rem 0.7rem;
    border-radius: 0.5rem;
    width: fit-content;
    align-self: end;
    border: 0.094rem solid $primary-color-forest-green;
    background-color: $primary-color-forest-green;
    color: $secondary-color-white;
    font-family: "Outfit";
    @include font(0.625rem, 0.75rem, 500);

    @include tablet {
      margin: 1rem 0.25rem;
      padding: 0.375rem 1.125rem;
      border-radius: 0.625rem;
      @include font(0.875rem, 1.09375rem, 500);
    }
  }
}
