@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  font-family: "Outfit";
  width: 100%;

  @include desktop {
    margin-top: 56px;
    width: 60%;
  }

  &__input-label {
    padding-top: 1rem;
    padding-bottom: 8px;
    color: $primary-color-black;
    @include font(12px, 15px, 500);

    @include tablet {
      padding-bottom: 12px;
      @include font(20px, 26px, 500);
    }
  }

  &__input {
    border-radius: 0.5rem;
    min-height: 30px;
    padding: 8px;
    border-style: none;
    border: 1.5px solid $secondary-color-sea-green;
    color: $primary-color-black;
    font-family: "Outfit";
    @include font(12px, 15px, 500);

    @include tablet {
      border-radius: 12px;
      padding: 10px;
      @include font(20px, 26px, 500);
    }

    &--large {
      height: 100px;
      resize: none;
    }

    &:focus {
      outline: none;
      border: 1.5px solid $primary-color-forest-green;
    }

    &--error {
      outline: none;
      border: 0.0625rem solid #b10606;
    }
  }

  &__submit {
    margin: 16px 0px;
    padding: 0.375rem 0.7rem;
    border-radius: 0.5rem;

    width: fit-content;
    align-self: end;

    background-color: $secondary-color-white;
    border: 0.078rem solid $primary-color-forest-green;
    color: $primary-color-forest-green;

    font-family: "Outfit";
    @include font(10px, 12px, 500);

    &:hover {
      border: 0.0625rem solid $primary-color-forest-green;
      background-color: $primary-color-forest-green;
      color: $secondary-color-white;
    }
  }
}
