@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.photo {
  font-family: "Outfit";
  @include font(12px, 15px, 500);
  border-radius: 12px;
  border-width: 1.5px;

  &__photo-details {
    padding: 16px;
    padding-top: 0px;
    width: 100%;
    @include display-flex(row, center, start);
  }

  &__tags-unclickable {
    padding: 16px;
    padding-bottom: 14px;
  }

  &__like-date {
    width: 100%;
    @include display-flex(column, space-between, start);
  }

  &__likes {
    @include display-flex(row, start, center);
    padding-bottom: 10px;
  }

  &__like-icon {
    height: 10px;
    padding-right: 4px;
  }
}
