@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.photo-details {
  width: 100%;
  background-color: $secondary-color-sage;
  border: 1.5rem solid $secondary-color-sea-green;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Outfit";
  @include font(0.75rem, 0.9375rem, 500);
  border-radius: 0.75rem;
  border-width: 0.094rem;

  @include tablet {
    border: 0.125rem solid $secondary-color-sea-green;
    width: 100%;
  }

  &__content {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__photo-details {
    padding: 1rem;
    padding-top: 0;
    width: 100%;
    @include display-flex(row, center, start);

    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
      justify-content: space-between;
      @include font(1.25rem, 1.625rem, 500);
    }
  }

  &__tags-unclickable {
    padding: 1rem;
    padding-bottom: 0.875rem;

    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__like-date {
    width: 100%;
    @include display-flex(column, space-between, start);

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: start;
    }
  }

  &__likes {
    @include display-flex(row, start, center);
    padding-bottom: 0.625rem;

    @include tablet {
      width: 40%;
    }
  }

  &__photographer-name {
    @include tablet {
      width: 53%;
    }
  }

  &__like-icon {
    height: 0.625rem;
    padding-right: 0.25rem;

    @include tablet {
      height: 0.875rem;
      padding-right: 0.5rem;
    }
  }
}
