@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.hero {
  background-color: $primary-color-pistachio;
  padding: 1rem;

  @include tablet {
    padding: 1.5rem;
  }

  &__heading {
    font-family: "Newsreader";
    @include font(1.625rem, 2.375rem, 300);

    @include tablet {
      @include font(2.625rem, 4.375rem, 300);
    }

    @include desktop {
      @include font(3.25rem, 4.375rem, 300);
      max-width: 43.75rem;
    }

    &--italics {
      font-style: italic;
    }
  }

  &__subheading {
    font-family: "Outfit";
    padding: 0.5rem 0 1rem;
    @include font(0.75rem, 0.9375rem, 300);

    @include tablet {
      padding: 1rem 0 2rem;
      @include font(1.25rem, 1.625rem, 300);
    }
  }
}
