@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.hero {
  background-color: $primary-color-pistachio;
  padding: 16px;

  @include tablet{
    padding: 24px;
  }

  &__heading {
    font-family: "Newsreader";
    @include font(26px, 38px, 300);

    @include tablet {
      @include font(42px, 70px, 300);
    }

    @include desktop {
      @include font(52px, 70px, 300);
      width: 700px;
    }

    &--italics {
      font-style: italic;
    }
  }
  &__subheading {
    padding-bottom: 16px;
    padding-top: 8px;
    font-family: "Outfit";
    @include font(12px, 15px, 300);

    @include tablet {
      padding-bottom: 32px;
      padding-top: 16px;
      @include font(20px, 26px, 300);
    }
  }
}
