@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.filter-container {
  padding: 16px;
  background-color: $secondary-color-sage;

  @include tablet {
    padding: 24px;
    height: 330px;
  }

  @include desktop{
    width: 33%;
    height: 100%;
    position: absolute;
    right: 0;
  }

  &__heading {
    font-family: "Outfit";
    @include font(18px, 23px, 500);
    padding-bottom: 8px;

    @include tablet {
      @include font(24px, 30px, 500);
      padding-top: 8px;
      padding-bottom: 32px;
    }
  }

  &__tags {
    @include display-flex(row, start, start);
    flex-wrap: wrap;
  }
}
