@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.filter-container {
  overflow-x: hidden;
  padding: 1rem;
  background-color: $secondary-color-sage;

  @include tablet {
    padding: 1.5rem;
    height: 20.625rem;
  }

  @include desktop {
    padding: 2.5rem 2rem 2.5rem 2.5rem;
    height: inherit;
    order: 2;
    flex: 0 0 30%;
  }

  &__heading {
    font-family: "Outfit";
    @include font(1.125rem, 1.4375rem, 500);
    padding-bottom: 0.5rem;

    @include tablet {
      @include font(1.5rem, 1.875rem, 500);
      padding: 0.5rem 0 2rem;
    }

    @include desktop {
      padding: 1rem 0 2.5rem;
    }
  }

  &__tags {
    @include display-flex(row, start, start);
    flex-wrap: wrap;
  }
}
