@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.comment {
  @include display-flex(column, center, space-between);
  flex-grow: 1;
  border-top: solid $secondary-color-sea-green 0.094rem;
  padding: 1rem 0;
  font-family: "Outfit";

  &__header {
    color: $primary-color-forest-green;
    @include display-flex(row, space-between, center);
    @include font(0.625rem, 0.75rem, 500);
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 1.5rem;
      @include font(0.875rem, 0.938rem, 500);
    }
  }

  &__comment {
    @include font(0.75rem, 0.938rem, 500);

    @include tablet {
      @include font(1.25rem, 1.625rem, 500);
    }
  }
}