@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

body{
    background-color: $primary-color-pistachio;
    width:100%
}

.photo-page-content{
    background-color:$primary-color-pistachio;
    padding: 1rem;
    padding-bottom: 0rem;

    @include tablet{
        padding: 1.5rem;
        padding-bottom: 0rem;
    }

    @include desktop{
        @include display-flex(column, center, center);
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }
}