@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.comment-section {
  width: 100%;
  padding-top: 16px;

  @include tablet{
    padding-bottom: 16px;
  }

  &__heading {
    padding-bottom: 16px;
    font-family: "Outfit";
    @include font(12px, 15px, 500);

    @include tablet {
      @include font(20px, 26px, 500);
    }
  }
}
