@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  padding: 1.5rem 1rem;
  background-color: $primary-color-pistachio;
  @include display-flex(row, space-between, start);
  position: sticky;
  top: 0;
  z-index: 1000;

  @include tablet {
    padding: 2rem 1.5rem;
  }

  &__wordmark-link {
    text-decoration: none;
  }

  &__wordmark {
    color: $primary-color-black;
    font-family: "Newsreader";
    @include font(2rem, 2rem, 400);

    @include tablet {
      @include font(2.5rem, 2.5rem, 400);
    }
  }

  &__filter {
    padding: 0.5rem 1rem;
    color: $primary-color-forest-green;
    background-color: $secondary-color-white;
    border: 0.125rem solid $primary-color-forest-green;
    border-radius: 3.125rem;
    font-family: "Outfit";
    @include font(0.75rem, 0, 500);

    @include tablet {
      padding: 0.6875rem 1.625rem;
      @include font(0.875rem, 0, 500);
    }

    &:hover,
    &--active {
      color: $secondary-color-white;
      background-color: $primary-color-forest-green;
      border-color: $primary-color-forest-green;

      .header__icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__icon {
    padding-left: 0.5rem;
  }

  &__back-button {
    background-color: transparent;
    border: none;
    color: $primary-color-forest-green;
    font-family: "Outfit";
    @include font(1.125rem, 1.4375rem, 500);

    @include tablet {
      @include font(1.5rem, 1.875rem, 500);
    }
  }

  &__back-icon {
    padding-right: 0.625rem;

    @include tablet {
      height: 1.125rem;
      padding-right: 0.75rem;
    }
  }
}
