@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.header {
  padding: 24px 16px;
  background-color: $primary-color-pistachio;
  @include display-flex(row, space-between, start);
  position: sticky;
  top: 0px;
  z-index: 1000;

  &__wordmark {
    font-family: "Newsreader";
    @include font(32px, 32px, 400);
  }

  &__filter {
    padding: 8px 16px;
    padding-top: 6px;
    color: $primary-color-forest-green;
    background-color: $secondary-color-white;
    border: solid 2px $primary-color-forest-green;
    border-radius: 50px;
    font-family: "Outfit";
    @include font(12px, 0px, 500);

    &:hover,
    &--active {
      color: $secondary-color-white;
      background-color: $primary-color-forest-green;
      border: solid 2px $primary-color-forest-green;
    }

    &__image {
      padding-left: 8px;

      &--active {
        filter: brightness(0) invert(1);
      }
    }

    &:hover &__image,
    &--active &__image {
      filter: brightness(0) invert(1);
    }
  }
}
 
