@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.photo {
  width: 100%;
  background-color: $secondary-color-sage;
  border: 1px solid $secondary-color-sea-green;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include tablet {
    width: calc(50% - 12px);
  }

  &__content {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__photographer {
    position: absolute;
    background-color: $secondary-color-sage;
    border-top-left-radius: 8px;
    padding: 8px;
    right: 0;
    bottom: 0;

    font-family: "Outfit";
    @include font(10px, 12px, 500);

    @include tablet {
      border-top-left-radius: 12px;
      @include font(12px, 15px, 500);
    }
  }

  &__tags {
    display: flex;
    padding: 4px;
    padding-left: 8px;

    @include tablet {
      padding: 8px;
      padding-left: 16px;
    }
  }
}
