@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.photo {
  width: 100%;
  background-color: $secondary-color-sage;
  border: 0.0625rem solid $secondary-color-sea-green;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include tablet {
    width: calc(50% - 0.75rem);
  }

  @include desktop {
    width: calc(33% - 0.75rem);
  }

  &--open {
    @include desktop {
      width: calc(50% - 0.75rem);
    }
  }

  &__content {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__photographer {
    position: absolute;
    background-color: $secondary-color-sage;
    border-top-left-radius: 0.5rem;
    padding: 0.5rem;
    right: 0;
    bottom: 0;
    font-family: "Outfit";
    @include font(0.625rem, 0.75rem, 500);

    @include tablet {
      border-top-left-radius: 0.75rem;
      @include font(0.75rem, 0.9375rem, 500);
    }
  }

  &__tags {
    display: flex;
    padding: 0.25rem 0 0.25rem 0.5rem;
    @include tablet {
      padding: 0.5rem 0 0.5rem 1rem;
    }
  }
}
